// COLORS
$color-primary: #1e5afa;
$color-primary-variant: rgba(0, 0, 240, 0.2);
$color-white: #fff;
$color-light: #f4f4f4;
$color-black: #000f37;
$color-dark: #575757;

// SPACING
$bottom-section-padding: 12rem;
$bottom-section-padding-mobile: 8rem;

// TRANSITION
$transition: all 400ms ease;

// LAYOUT
$container-width: 100%;
$container-width-tablet: 100%;
$container-width-phone: 100%;